* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background-color: #e2d5bb;
}
/* /page NavBar/ */
.navbarr {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
}
.navbarr {
  font-family: Raleway;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(97, 96, 90);
  color: white;
  height: 45px;
}

.navbarr-linkss ul {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 14px;
  margin-left: 750px;
  margin-top: 6px;
}
.navbarr-linkss li {
  list-style: none;
}
.navbarr-linkss li a {
  text-decoration: none;
  color: white;
  padding: 8px;
  display: block;
}
.navbarr-linkss li:hover {
  background-color: rgb(197, 139, 139);
}
.toggle-button {
  position: sticky;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
#menuToggle {
  display: none;
}
@media (max-width: 1302px) {
  .navbarr-linkss {
    display: none;
    width: 100%;
  }
  .navbarr-linkss ul {
    width: 100%;
    flex-direction: column;
  }
  .navbarr-linkss ul li {
    text-align: center;
  }
  .navbarr-linkss ul li a {
    padding: 0.5rem 1rem;
  }
  .navbarr-linkss.active {
    display: flex;
  }
  #menuToggle {
    display: unset;
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 4px;
    left: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover {
    color: tomato;
  }
  #menuToggle input {
    display: block;
    width: 30px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 25px;
    padding-top: 125px;
    background: #333;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menu li {
    padding: 10px 20px;
    font-size: 22px;
  }
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
/*  /end of nav/ */
.main-header {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("Images/Header Background.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

/*ticket headers*/
.section-header,
.section-header1 {
  font-family: "Metal Mania";
  font-weight: normal;
  color: #333;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-color: red;
  text-decoration-color: red;
}
.section-header {
  margin-top: 6vh;
  padding-bottom: 4vh;
  font-size: 2.5em;
}
.section-header1 {
  margin-top: 6vh;
  padding-bottom: 6vh;
  font-size: 4.5em;
}

/*buttons*/
.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.61em 0.67em;
  cursor: pointer;
}

.btn-header {
  margin: 0.5em 15% 2em 15%;
  color: white;
  border: 2px solid #2d9cdb;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: #2d9cdb;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.button_Style {
  color: royalblue;
  background-color: #adff2fe3;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
}

.button_Style:hover {
  background-color: #5b7e44a2;
}

/*--*/
.item-box {
  margin: 1em;
  position: relative;
  text-align: center;
  border: 1px solid #80808059;
  border: groove;
  border-radius: 8px;
  padding: 25px 25px;
  background-color: white;
  border-style: double;
}

.item-box:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
  box-shadow: 10px 10px 5px grey;
}
.item-box-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 15px;
}

@media (max-width: 400px) {
  .containershome .boxshome {
    margin-left: 14px;
  }
}
/* /-----------------------------------/ */
.quantity {
  display: flex;
  justify-content: center;
}

.quantity button {
  width: 45px;
  height: 45px;
  border: 1px solid #000;
  color: #000;
  border-radius: 0;
  background: #fff;
}

.quantity input {
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  width: 100px;
  font-size: 20px;
  color: #000;
  font-weight: 300;
}

.total-price {
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.total-price .fa-rupee {
  display: inline-block;
  font-size: 90%;
  margin-right: 5px;
}
/* /-----------------------------------/ */
.quantity2 {
  display: flex;
  justify-content: center;
}

.quantity2 button {
  width: 45px;
  height: 45px;
  border: 1px solid #000;
  color: #000;
  border-radius: 0;
  background: #fff;
}

.quantity2 input {
  border: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  width: 100px;
  font-size: 20px;
  color: #000;
  font-weight: 300;
}

.total-price2 {
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.total-price2 .fa-rupee {
  display: inline-block;
  font-size: 90%;
  margin-right: 5px;
}

h3 {
  padding-left: 439px;
}
@media screen and (max-width: 1320px) {
  h3 {
    padding-left: 147px;
  }
}
.item-box-details {
  align-items: center;
  padding: 5px;
}

.item-box-price {
  flex-grow: 1;
  color: #333;
}

.item-main-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* /cart/ */
.container1 {
  max-width: 784px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 10px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 100px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 10px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
.addToFav {
  display: block;
  margin: -65px 379px 52px auto;
  font-size: 1.75em;
}
@media (max-width: 1302px) {
  .addToFav {
    display: block;
    margin: -69px auto 50px auto;
    font-size: 1.75em;
  }
}
.showpoints {
  display: block;
  margin: -65px 203px 52px auto;
  font-size: 1.75em;
}
@media (max-width: 1302px) {
  .showpoints {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
  }
}
.conf {
  display: block;
  margin: 15px auto 52px auto;
  font-size: 1.75em;
}
.button {
  position: fixed;
  background-color: #ff726f;
  border: none;
  padding: 15px 32px;
  cursor: pointer;
  height: 40px;
  margin-left: 1347px;
  display: flex;
  position: fixed;
  bottom: 70%;
  text-decoration: none;
  z-index: 2;
  width: 11vw;
}
.button p {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  color: white;
}
@media screen and (max-width: 1320px) {
  .button {
    margin-left: 0;
    font-size: 15px;
    width: 15vw;
  }
  .button p {
    color: white;
    font-size: 10px;
  }
}
.addToOrder {
  margin: -117px 105px 77px auto;
  display: block;
  /* margin: -65px 379px 52px auto; */
  font-size: 1.75em;
}
@media screen and (max-width: 1320px) {
  .addToOrder {
    display: block;
    margin: -31px auto -22px auto;
    font-size: 1.75em;
  }
}
/* /----/ */
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 175%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  /* width: 95%; */
  max-width: 100%;
  /* height: 250px; */
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
@media screen and (max-width: 1006px) {
  .popup .content {
    top: 582%;
  }
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

/* /cart 2/ */
.container2 {
  max-width: 664px;
  margin: 0 auto;
  padding: 0 1.5em;
  margin-right: 8px;
}

/* /types boxhome/ */
.containershome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
}
.containershome .boxshome {
  position: relative;
  width: 80%;
  height: 497px;
  border-style: dashed;
  background: rgb(252, 249, 249);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background: #e0dbd1;
  border-radius: 1.5em;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.containershome .boxshome:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1006px) {
  .containershome {
    margin-left: 0px;
  }
  .containershome .boxshome {
    margin-right: 30px;
    height: 800px;
    width: 400px;
  }
}
@media screen and (max-width: 1412px) {
  .containershome {
    margin-left: 0px;
    height: 714px;
  }
}
/* /duration boxhome/ */
.containershome1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
  margin-left: 300px;
}
.containershome1 .boxshome1 {
  position: relative;
  width: 80%;
  height: 497px;
  background: rgb(252, 249, 249);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background: #e0dbd1;
  border-radius: 1.5em;
  border-style: dashed;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.containershome1 .boxshome1:hover {
  transform: scale(1.1);
}
.containershome1 .boxshome1:hover {
  box-shadow: 0 0 50px 0px rgba(228, 168, 4, 0.993);
}
@media screen and (max-width: 1006px) {
  .containershome1 {
    margin-left: 0px;
  }
  .containershome1 .boxshome1 {
    margin-right: 30px;
    height: 800px;
    width: 400px;
  }
}
@media screen and (max-width: 1412px) {
  .containershome1 {
    margin-left: 0px;
    height: 714px;
  }
}
/* /extras boxhome/ */
.containershome2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
  margin-left: 300px;
}
.containershome2 .boxshome2 {
  position: relative;
  width: 80%;
  height: 497px;
  background: rgb(252, 249, 249);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background: #e0dbd1;
  border-radius: 1.5em;
  border-style: dashed;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.containershome2 .boxshome2:hover {
  transform: scale(1.1);
}
.containershome2 .boxshome2:hover {
  box-shadow: 0 0 50px 0px rgba(228, 168, 4, 0.993);
}
@media screen and (max-width: 1006px) {
  .containershome2 {
    margin-left: 0px;
  }
  .containershome2 .boxshome2 {
    margin-right: 30px;
    height: 800px;
    width: 400px;
  }
}
@media screen and (max-width: 1412px) {
  .containershome {
    margin-left: 0px;
    height: 714px;
  }
}
/* /footer----------------------------------------------------------------------------------------------------------/ */
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(218, 214, 214);
  color: white;
  text-align: center;
}
footer {
  position: relative;
  width: 100%;
  height: auto;
  pad: 50px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .container .sec {
  margin-right: 30px;
}
footer .container .sec.aboutus {
  width: 40%;
}
footer .container h2 {
  position: "";
  color: rgb(216, 202, 202);
  font-weight: 500;
  margin-bottom: 15px;
}
footer p {
  color: #999;
}
.quicklinks {
  position: relative;
  width: 25%;
}
.quicklinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.quicklinks ul li a:hover {
  color: #fff;
}
.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}
.contact .info {
  position: relative;
}
.contact .info li {
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span {
  color: #999;
}
.contact .info li a {
  color: #999;
  text-decoration: none;
}
.contct .info li a:hover {
  color: rgb(255, 249, 249);
}
.copyrightText {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: rgb(240, 238, 238);
}
@media screen and (max-width: 1320px) {
  footer {
    padding: 40px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container {
    padding: 25px;
  }
}
/* /donate-------------------------------------------------------------------------------------------------------------------/ */

.containershome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 75px;
  margin-left: 200px;
}
.containershome .boxshome {
  position: relative;
  width: 80%;
  height: 530px;
  background: rgb(252, 249, 249);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background: #e0dbd1;
  border-radius: 1.5em;
  margin-top: -34px;
}
.containershome .boxshome form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  padding: 10px;
}
form .user-details .text-box {
  margin-bottom: 15px;
  width: calc(-100% / 2 -20px);
}
.user-details .text-box .details {
  /*
display: block;
*/
  font-weight: 500;
  margin-bottom: 50px;
}
.user-details .text-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .text-box input:focus,
.user-details .text-box input:valid {
  border-color: #9b59b6;
}

form .donate-amount .amount-title {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
}

form .button2 {
  height: 45px;
  margin: 45px 0;
}
form .button2 input {
  height: 100%;
  width: 100%;
  outline: none;
  color: rgb(124, 73, 73);
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: yellowgreen;
  cursor: pointer;
}
form .button2 input:hover {
  background: rgb(214, 156, 192);
}

@media screen and (max-width: 1006px) {
  .containershome {
    margin-left: 0px;
  }
  .containershome .boxshome {
    margin-right: 30px;
    height: 980px;
    width: 400px;
  }
}
@media screen and (max-width: 1412px) {
  .containershome {
    margin-left: 164px;
    height: 714px;
    margin-bottom: 251px;
  }
}
@media screen and (max-width: 400px) {
  .containershome {
    margin-left: -1px;
    height: 714px;
    margin-bottom: 251px;
  }
}

@media screen and (max-width: 800px) {
  .radio-buttons {
    display: block;
    width: 40px;
    padding-left: 50px;
  }
}
